<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список категорий</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h1>Список категорий</h1>
    <ul>
        <li th:each="item : ${categories}">
            <a th:href="@{/categories/{id}(id=${item.id})}"
               th:text="${item.category.getCategoryName()}"></a>
        </li>
    </ul>
    <a href="/categories">Вернуться к категориям</a>
    <a href="/calculate?first=10&second=5&operation=add">Пример калькулятора</a>
</body>
</html>