<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список категорий</title>
</head>
<body>
    <h1>Список категорий</h1>
    <div th:if="${error != null}">
        <p style="color: red;" th:text="${error}"></p>
    </div>
    <div th:if="${message != null}">
        <p style="color: green;" th:text="${message}"></p>
    </div>
    <ul>
        <li th:each="category : ${categories}">
            <a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.category.categoryName}"></a>
        </li>
    </ul>
    <a href="/categories/add">Добавить категорию</a>
    <a href="/categories">Вернуться к категориям</a>
</body>
</html>